body {
    background-color: #323133;
    font-family: 'Comfortaa', cursive;
    margin:0;
    >a {
      position: fixed;
      bottom:10px;
      left:10px;
      color:#fff;
    }
    .timer {
      color: #fff;
      .begin {
        position: absolute;
        bottom:10px;
        left:50%;
        transform:translateX(-50%);
        font-size:32px;
        cursor: pointer;
      }
      .show {
        position: fixed;
        top: 50%;
        left: 0px;
        right: 0px;
        transform: translateY(-50%);
        height: 100%;
        background-color: #2ABA66;
        transition:height .5s ease;
        &.timeup {
          background-color: #D8334A;
        }
      }
      .timecontainer {
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        transform: translateY(-50%);
        >.time {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .switcher {
            display: flex;
            position: relative;
            .time {
              font-size: 25vw;
            }
            &:not([type="none"]):not(.active) {
              .up,
              .down {
                position: absolute;
                left: 0px;
                right: 0px;
                height: 3vw;
                cursor: pointer;
                &:before {
                  position: absolute;
                  content: '';
                  top:50%;
                  left:50%;
                  transform:translate(-50%,-50%);
                  border:3vw solid transparent;
                }
              }
              .up {
                top: -2vw;
                &:before {
                  border-top:0;
                  border-bottom-color:#fff;
                }
              }
              .down {
                bottom: 1vw;
                &:before {
                  border-bottom:0;
                  border-top-color:#fff;
                }
              }
            }
          }
        }
      }
    }
  }